.container{
    background-color: black;
    width: 40%;
    height: 100vh;
    margin: 0 auto;
}
.chatbox {
    color: white;
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 40px;
}
.lefttextbox{
    background-color: #262626;
    display: inline-block;
    padding: 0.30px;
    font-size: 1em;
    border-radius: 50px;
    font-family: sans-serif;
    margin-bottom: 30px;
}
.righttextbox{
    background-color: #6051ea;
    display: inline-block;
    padding: 0.3px;
    font-size: 1em;
    border-radius: 50px;
    font-family: sans-serif;
    margin: 0px 0px 40px 50px;
}
.righttextbox-one {
    background-color: #6051ea;
    display: inline-block;
    padding: 0.3px;
    font-size: 1em;
    border-radius: 50px;
    font-family: sans-serif;
    margin: 0px 0px 40px 320px;
}
p{
    padding: 10px;
}